@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
body{
    background-image: url(images/pexels-pixabay-33545-small.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
}
.row-container{
    display: grid;
    grid-template-columns: 25px 250px 50px;
    border-bottom: 1px solid #fff;
}
.row-container > *{
   margin: 10px;

}
.check-box:checked + label.list-element{
    text-decoration: line-through;
}
.check-box{
    text-align: center;
}
.delete-button, .add-button{
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30px;
    height: 30px;
}
#page-container{
    background-color: rgba(0, 0, 0, .6);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#add-input{
    padding: 5%;
}
#form-input{
    background-color: rgba(0, 0, 0, .3);
    border: none;
    padding: 5px;
    color: white;
}

@media screen and (min-width: 480px) {
    body{
        background-image: url(images/pexels-pixabay-33545.jpg);
    }
    #page-container{
        width: 50%;
        margin: 0 auto;
        height: 300px;
    }
  }