#board{
    display: grid;
    grid-template-columns: repeat(50px, 3);
    grid-template-rows: repeat(50px, 3);
    margin: 0 auto;
}
.square{
    background-color: aqua;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

#a1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
#a2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
#a3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
